@import "../bower_components/bootstrap/scss/bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
.font-lotr {
    font-family: 'Jim Nightshade', cursive;
    font-size: 80px;
    color: #D0A94C;
}